#top {
    height: 72px;
}


#live-content .el-tabs__nav .el-tabs__item {
    font-size: 20px;
}

#live-content .el-tabs__nav .el-tabs__item.is-active {
    font-size: 22px;
}
#live-content .el-tabs__nav .el-tabs__item {
    color: #989898 !important;
}

#live-content .el-tabs__nav .el-tabs__item:hover {
    color: #f9c93e !important;
}

#live-content .el-tabs__item.is-active {
    color: #000000 !important;
}

#live-content .el-tabs__active-bar {
    background-color: #f9c93e !important;
}

#live-content {
    width: 1200px;
    margin: auto;
    height: 1000px;
    min-height: 1000px;
    padding-top: 30px;
}

.live-room-row .el-image {
    width: 100%;
    height: 150px;
    background-color: #0f0f0f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.live-room-row .block {
    height: 196px;
    width: 287px;
    position: relative;
    margin: 4px;
    cursor: pointer;
}

.live-room .el-image img {
    height: 150px;
}

.live-room .live-title {
    background-color: #FFFFFF;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.live-room .live-name {
    display: flex;
    position: absolute;
    bottom: 45px;
    width: 100%;
    color: #df9d3a;

}

.live-room .live-name div {
    flex: 1;
    margin: 5px;
}

.live-room .live-name div:nth-child(2) {
    text-align: end;
}

.live-room .live-name span:nth-child(1) {
    float: left;
}

.live-room-row .living {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #FFFFFF;
    height: 20px;
    font-size: 13px;
    padding: 0px;
    border-radius: 5px;
}

.live-room-row .living img {
    width: 14px;
    height: 11px;
    margin-left: 3px;
}
.live-other .up-info-box {
    display: flex;
    width: 100%;
    color: #747373;
    margin-top: 5px;
}

.live-other .up-info-box div:nth-child(1) {
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 40px;*/
}

.live-other .up-img {
    height: 30px !important;
    width: 30px !important;
    background-color: rgba(15, 15, 15, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.live-other .up-info-box div:nth-child(1) .up-img {
    height: 30px !important;
    width: 30px !important;
    border-radius: 30px !important;
}
.live-other .up-info-box div:nth-child(2){
    width: 170px;
    margin-left: 9px;
}
.live-other .up-info-box div:nth-child(2),.live-other .up-info-box div:nth-child(3){
    margin-top: 3px;
    font-size: 14px;
}

.live-other .live-title{
    padding: 3px;
}
.live-other .live-up-title div:nth-child(1){
    text-align: center;
}

.live-other .block {
    height: 215px;
}

