#live-box {
    width: 100%;
    background-color: #25284c;
    padding: 10px 0;
}

#live {
    margin: auto;
    width: 1200px;
    height: 680px;
    min-width: 1200px;
    display: flex;
}

#video-box {
    height: 100%;
    width: 845px;
    background-color: black;
    margin-right: 5px;
}

#chat-box {
    height: 100%;
    width: 345px;
    background-color: #FFFFFF;
    margin-left: 5px;
    border-radius: 5px;
}

#video-title-box {
    background-color: #FFFFFF;
    display: flex;
    height: 75px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#picture img {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    padding: 5px;
}

#room-name h1 {
    font-size: 20px;
    margin: 10px 0 0 10px;
}

#room-name h4 {
    font-size: 17px;
    margin: 0 0 10px 10px;
    color: #777777;
}

#video-show {
    height: 535px;
}

#video-foot {
    height: 70px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*弹幕*/
#mplayer-header {
    height: 100px !important;
    background: none;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
}

#title-groupt {
    display: none !important;
}

#notice {
    font-size: 15px;
    color: #737373;
    padding: 10px;
    height: 33px;
}

#chat-box .el-tabs__nav-scroll .el-tabs__nav {
    width: 100%;
}

#chat-box .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
    width: 50%;
    text-align: center;
}

#chat-box .el-tabs--border-card {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chat-box .el-tabs__content {

    background-color: #f9f9f9;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chat {
    /*background: #f90000;*/
    height: 588px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chat-msg {
    overflow-y: scroll;
    height: 490px;

}

/* 自定义整个滚动条 */
#chat-msg::-webkit-scrollbar {
    width: 3px; /* 滚动条宽度 */
}

/* 自定义滚动条滑块 */
#chat-msg::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* 滑块颜色 */
    border-radius: 10px; /* 滑块圆角 */
}

/* 自定义滚动条轨道 */
#chat-msg::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道颜色 */
    border-radius: 10px; /* 轨道圆角 */
}

#chat .msg .gift {
    height: 18px;
    vertical-align: middle;
    margin-top: -5px;
    width: 18px;
}

#chat .msg .hi {
    height: 14px;
    vertical-align: middle;
    margin-top: -5px;
    width: 16px;
}

#chat .msg .lv {
    height: 14px;
    vertical-align: middle;
    margin-top: -5px;
    width: 26px;
}

#chat .msg {
    font-size: 14px;
    padding: 5px 10px;
}

#chat .chat-name {
    color: #696969;
}

#chat .msg.other {
    /*background-color: red;*/
}

#chat .msg.come {
    background-color: #e7e7e7;
    color: #696969;
}

.horizontal-list {
    list-style-type: none;
    padding: 0;
}


.horizontal-list li {
    display: inline;
    margin: 20px 10px;
    cursor: pointer;
}

#bqb {
    height: 30px;
    display: flex;
}

#bqb .popover-reference.item-row {
    cursor: pointer;
    margin: 6px 10px;
}

#send-box {
    display: flex;
    padding: 7px 8px 0 8px;
    border-bottom-left-radius: 29px;
}

#send-box .el-textarea {
    width: auto;
}

#send-box .el-textarea__inner {
    width: 260px;
    height: 56px;
}

#send-box .el-button--info {
    height: 56px;
}

#phb {
    height: 587px;
    overflow: auto;
}
/* 自定义整个滚动条 */
#phb::-webkit-scrollbar {
    width: 3px; /* 滚动条宽度 */
}

/* 自定义滚动条滑块 */
#phb::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* 滑块颜色 */
    border-radius: 10px; /* 滑块圆角 */
}

/* 自定义滚动条轨道 */
#phb::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道颜色 */
    border-radius: 10px; /* 轨道圆角 */
}

.content-row {
    width: 1200px;
    margin: auto;
}

.live-room-row .el-image {
    width: 100%;
    height: 150px;
    background-color: #0f0f0f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.live-room-row .block {
    height: 196px;
    width: 287px;
    position: relative;
    margin: 4px;
    cursor: pointer;
}

.live-room .live-title {
    background-color: #FFFFFF;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.live-room .live-name {
    display: flex;
    position: absolute;
    bottom: 45px;
    width: 100%;
    color: #df9d3a;

}

.live-room .live-name div {
    flex: 1;
    margin: 5px;
}

.live-room .live-name div:nth-child(2) {
    text-align: end;
}

.live-room .live-name span:nth-child(1) {
    float: left;
}

.live-room-row .living {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #FFFFFF;
    height: 20px;
    font-size: 13px;
    padding: 0px;
    border-radius: 5px;
}

.live-room-row .living img {
    width: 14px;
    height: 11px;
    margin-left: 3px;
}

.content-row h2 {
    display: inline-block;
}

.content-row .el-link.all {
    float: right;
    margin-top: 24px;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.el-carousel--horizontal {
    width: 1200px;
    margin: 30px auto 0 auto;
}

.el-carousel__item {
    border-radius: 10px;
}

.el-carousel__item .time {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.el-carousel__item .vs {
    display: flex;
}

.el-carousel__item .vs div {
    /*flex: 1;*/
    text-align: center;
}

.el-carousel__item .vs div:nth-child(1), .el-carousel__item .vs div:nth-child(3) {
    width: 45%;
}

.el-carousel__item .vs div:nth-child(2) {
    width: 5%;
    margin-top: 24px;
    font-size: 40px;
    color: red;
    font-weight: bold;
}

.content-row .live-up-row {
    text-align: center;
}

.content-row .live-up-row img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.live-other .up-info-box {
    display: flex;
    width: 100%;
    color: #747373;
    margin-top: 5px;
}

.live-other .up-info-box div:nth-child(1) {
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 40px;*/
}

.live-other .up-img {
    height: 30px !important;
    width: 30px !important;
    background-color: rgba(15, 15, 15, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.live-other .up-info-box div:nth-child(1) .up-img {
    height: 30px !important;
    width: 30px !important;
    border-radius: 30px !important;
}

.live-other .up-info-box div:nth-child(2) {
    width: 170px;
    margin-left: 9px;
}

.live-other .up-info-box div:nth-child(2), .live-other .up-info-box div:nth-child(3) {
    margin-top: 3px;
    font-size: 14px;
}

.live-other .live-title {
    padding: 3px;
}

.live-other .live-up-title div:nth-child(1) {
    text-align: center;
}

.live-other .block {
    height: 215px;
}

.content-up-row .el-image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

#phb .sort-row {
    display: flex;
    margin-top: 7px;
}

#phb .sort-row .picture img, #phb .sort-row .picture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#phb .sort-row .num {
    width: 30px;
    padding: 14px 0 0 14px;
    color: #8d8d8d;
}
#phb .sort-row .num img {
    width: 20px;
    height: 20px;
    padding: 0 0 13px 0;
    margin-left: -4px;
}


#phb .sort-row .lv-img,#phb .sort-row .lv-img img{
    width: 25px;
    height: 14px;
    margin-top: 8.5px;
    margin-left: 10px;
}

#phb .username{
    line-height: 3;
    margin-left: 10px;
    color: #6f6f6f;
}
#chat .msg.me{
    background-color: #b2daff;
}

